body{
    margin: 0;
}
header{
    text-align: center;
    font-size: 30px;
    background-color: grey;
}
hr{
    border: 3px solid black;
}
#main{
    height: 25vh;
    display: flex;
    justify-content: center;
}
#post{
    height: 90%;
    width: 60%;
    background-color: lightyellow;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 5px;
}
p{
    margin: 0;
}
#comments{
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divComment{
    width: 23%;
    background-color: lightyellow;
    border-radius: 8px;
    border: 2px solid black;
    padding: 2px;
    margin: 5px 0;
}
br{
    display: none;
}
