body{
    margin: 0;
}
header{
    text-align: center;
    font-size: 30px;
    background-color: grey;
}
hr{
    border: 3px solid black;
}
#user{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blockDiv{
    height: 85%;
    width: 90%;
    background-color: lightyellow;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;

}
.ulBlock{
    font-size: 24px;
}
.btnPosts{
    width: 90%;
    border-radius: 8px;
    margin-top: 2vh;
    font-weight: bolder;
}
#posts{
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divPost{
    width: 18vw;
    background-color: lightyellow;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btnPost{
    width: 50%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-weight: bolder;
}
ul{
    margin: 0;
}